extends base
include _accountNavLink
include _passwordInput
include _userDataValueInput

block content
  main.main   
    .user-view
      nav.user-view__menu

        ul.side-nav
          +accountNavLink('settings', 'Settings', true)
          +accountNavLink('briefcase', 'My bookings', false)
          +accountNavLink('star', 'My reviews', false)
          +accountNavLink('card', 'Billing', false)

        if user.role === 'admin'
          .admin-nav
            h5.admin-nav__heading Admin 
            ul.side-nav
              +accountNavLink('map', 'Manage tours', false)
              +accountNavLink('users', 'Manage users', false)
              +accountNavLink('star', 'Manage reviews', false)
              +accountNavLink('briefcase', 'Manage bookings', false)
      
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          form.form.form-user-data

            +userDataValueInput('name', 'Name', 'text', user.name, '')
            +userDataValueInput('email', 'Email address', 'email', user.email, 'ma-bt-md')

            .form__group.form__photo-upload
              img.form__user-photo(src=`img/users/${user.photo ? user.photo : 'default.jpg'}` alt=`Photo of ${user.name}`)
              a.btn-text(href="") Choose new photo
            .form__group.right  
              button.btn.btn--small.btn--green Save settings

        .line &nbsp;

        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-settings

            +passwordInput('password-current', 'Current password', '')
            +passwordInput('password', 'New password', '')
            +passwordInput('password-confirm', 'Confirm password', 'ma-bt-lg')

            .form__group.right 
              button.btn.btn--small.btn--green Save password

