extends base
include _passwordInput
include _userDataInput

block append head
  script(src='/js/bundle.js' defer)

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
        form#loginForm.form
          +userDataInput('email', 'Email address', 'email', 'you@example.com')
          +passwordInput('password', 'Password', 'ma-bt-md')
          .form__group
            button.btn.btn--green Login